* {
    font-family: YaHei, Arial, Helvetica, sans-serif;
    /* margin: 0; */
    /* padding: 0; */
}

h1 {
}

h2 {
}

li {
    font-size: 20px;
}
    
p {
    color: black;
    font-size: 20px;
}

/* Self defined classes */
.journal {
    font-weight: bold;
    font-style: italic;
}

.pub_my_name {
    font-weight: bold;
}